*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #82b3ff8f;
  background: linear-gradient(
    135deg,
    rgb(188 240 255 / 50%) 0%,
    rgb(131 177 255 / 57%) 50%,
    rgb(157 146 255 / 56%) 100%
  );
}
